h1 {
    color: greenyellow;
    font-family: monospace,courier;
    text-align: center;

}

p {
    color: greenyellow;
    font-family: monospace,courier;
    text-align: center;

}

.fools {
    color: greenyellow;
    font-family: monospace,courier;
    font-size: 1.5em;
    text-align: center;
}

body {
    background-color: rgb(15,15,15);
    margin: 6%;
}